<div class="add-empl">
  <h2 class="add-empl_heading">
    {{ mode === 0 ? "Add a new employee" : "Edit an employee" }}
  </h2>
  <form
    class="add-empl_form"
    [formGroup]="addForm"
    (ngSubmit)="onAddFormSubmit()"
  >
    <div class="add-empl_form-set">
      <div class="add-empl_form-required">
        <h3>Required information</h3>
        <div class="add-empl_form-control">
          <label for="name">Name</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input
              formControlName="name"
              id="name"
              type="text"
              matInput
              placeholder="Ex. Ivo Bobul"
            />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <label for="position">Position</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Position</mat-label>
            <input
              formControlName="position"
              id="position"
              type="text"
              matInput
              placeholder="Ex. Front-end dev."
            />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <label for="email">Email</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              id="email"
              type="email"
              matInput
              placeholder="Ex. something@gmail.com"
            />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <label for="phone">Phone</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input
              formControlName="phone"
              id="phone"
              type="tel"
              matInput
              placeholder="Ex. +380989983256"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="add-empl_form-additional">
        <h3>Additional information</h3>
        <div class="add-empl_form-control">
          <label for="img">Account img url</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Account img url</mat-label>
            <input formControlName="imgPath" id="img" type="text" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="add-empl_actions">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="!addForm.valid || addForm.untouched"
      >
        {{ mode === 0 ? "Add" : "Confirm changes" }}
      </button>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onCancellClick()"
      >
        Cancell
      </button>
    </div>
  </form>
</div>
<app-notification
  *ngIf="isFetching"
  [message]="notification.title"
  [title]="notification.message"
></app-notification>
<app-error-notification
  *ngIf="error"
  [error]="error"
  (onClose)="onErrorMsgClose()"
></app-error-notification>
