<div class="add-empl">
  <h2 class="add-empl_heading">
    {{ mode === 0 ? "Add a new employee" : "Edit an employee" }}
  </h2>
  <form
    *ngIf="!isFetching"
    class="add-empl_form"
    [formGroup]="editForm"
    (ngSubmit)="onAddFormSubmit()"
  >
    <div class="add-empl_form-set">
      <div class="add-empl_form-required">
        <h3>The most needed information</h3>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name and thirname</mat-label>
            <input
              formControlName="name"
              type="text"
              matInput
              placeholder="Ex. Ivo Bobul"
            />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Account img url (not required)</mat-label>
            <input formControlName="imgPath" id="img" type="text" matInput />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Position</mat-label>
            <input
              formControlName="position"
              type="text"
              matInput
              placeholder="Ex. Front-end dev."
            />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              type="email"
              matInput
              placeholder="Ex. something@gmail.com"
            />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input
              formControlName="phone"
              type="tel"
              matInput
              placeholder="Ex. +380989983256"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="add-empl_form-additional">
        <h3>Additional information</h3>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Team</mat-label>
            <input type="text" matInput placeholder="Guardians of the Galaxy" />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Birthday</mat-label>
            <input type="date" matInput />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Start date</mat-label>
            <input type="date" matInput />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hobbyes</mat-label>
            <input type="text" matInput placeholder="Ex. Ciclings" />
          </mat-form-field>
        </div>
        <div class="add-empl_form-control">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Family</mat-label>
            <input type="text" matInput placeholder="Ex. cat Alicia" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="add-empl_actions">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="!editForm.valid || editForm.untouched"
      >
        {{ mode === 0 ? "Add" : "Confirm changes" }}
      </button>
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onCancellClick()"
      >
        Cancell
      </button>
    </div>
  </form>
</div>
<app-notification
  *ngIf="isFetching"
  [message]="notification.title"
  [title]="notification.message"
></app-notification>
<app-error-notification
  *ngIf="error"
  [error]="error"
  (onClose)="onErrorMsgClose()"
></app-error-notification>
