@import "../../../mixins.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include flex_gap_instead;
  flex-wrap: wrap;
  min-height: 36px;
  padding: 15px 30px;
  background-color: black;
  color: white;

  &_nav-group {
    flex-basis: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include flex_gap_instead;

    a {
      color: white;
      text-decoration: none;
      appearance: none;

      &:hover,
      &.active {
        border-bottom: 1px solid white;
      }
    }
  }

  &_icon {
    cursor: pointer;
  }

  &_logger {
    display: flex;
    gap: 15px;
  }

  &_btn {
    background-color: transparent;
    color: white;
  }

  &_btn.sign-in {
    outline: 1px solid white;
  }
}

.user {
  display: flex;
  justify-content: end;
  align-items: baseline;

  &_name {
    margin-right: 6px;
  }

  button {
    padding: 0;
    min-width: unset;
  }
}
