<div class="employee-requests">
  <mat-accordion *ngIf="{ data: requests$ | async } as requests">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="employee-requests_badge">
            <span
              [matBadge]="requests.data?.length"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              [matBadgeHidden]="requests.data?.length === 0"
              >All requests</span
            >
          </div>
          <ng-template *ngIf="!isFetching; else loading"></ng-template>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="requests.data?.length === 0">There is no requests yet</p>
      <div *ngIf="requests.data">
        <div *ngFor="let request of requests.data; let i = index">
          <div
            class="employee-requests_content"
            [appEmployeeRequests]="request.status"
            (click)="onEditRequestStatusClick(i)"
          >
            <p>
              {{ request.message | titlecase }}
            </p>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="employee-requests_add">
    <button
      mat-mini-fab
      (click)="onEditRequestClick()"
      type="button"
      color="accent"
    >
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </div>
</div>
<app-error-notification
  *ngIf="requestsError"
  [error]="requestsError"
  (onClose)="this.requestsError = null; this.isFetching = false"
></app-error-notification>
<ng-template #loading>
  <div class="employees_spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</ng-template>
<router-outlet></router-outlet>
<!-- <app-requests-modal
  (onGetRequestViaForm)="onGetRequestFromModal$.next($event)"
  (onModalClose)="isModalOpen = !isModalOpen"
> -->
<!-- *ngIf="isModalOpen" -->
<!-- <ng-template> -->
<!-- <div
      class="employee-requests_content"
      [appEmployeeRequests]="request.status"
    >
      <p>
        {{ request.message | titlecase }}
      </p>
      <div
        class="employee-requests_actions"
        *ngIf="request.status === requestStatus.pending"
      >
        <mat-button-toggle-group
          name="status"
          #toggleGroupe="matButtonToggleGroup"
          (change)="onChangeStatus({ index: i, status: toggleGroupe.value })"
        >
          <mat-button-toggle [value]="requestStatus.accepted" color="accent"
            ><mat-icon>done</mat-icon></mat-button-toggle
          >
          <mat-button-toggle [value]="requestStatus.denied" color="accent"
            ><mat-icon>clear</mat-icon></mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div> -->
<!-- </ng-template> -->
<!-- </app-requests-modal> -->
