<div class="employee-requests">
  <mat-accordion *ngIf="{ data: requests$ | async } as requests">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          All requests ({{ requests.data?.length || 0 }})
          <ng-template *ngIf="!isFetching; else loading"></ng-template>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="requests.data?.length === 0">There is no requests yet</p>
      <div *ngIf="requests.data">
        <div *ngFor="let request of requests.data; let i = index">
          <div
            class="employee-requests_content"
            [appEmployeeRequests]="request.status"
          >
            <p>
              {{ request.message | titlecase }}
            </p>
            <div
              class="employee-requests_actions"
              *ngIf="request.status === requestStatus.pending"
            >
              <div>
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="Example icon button with a menu icon"
                  (click)="
                    onChangeStatus({ index: i, status: requestStatus.accepted })
                  "
                >
                  <mat-icon>done</mat-icon>
                </button>
              </div>
              <div>
                <button
                  mat-mini-fab
                  color="primary"
                  aria-label="Example icon button with a menu icon"
                  (click)="
                    onChangeStatus({ index: i, status: requestStatus.denied })
                  "
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Add request </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <form
        #requestForm
        [formGroup]="requestsForm"
        class="employee-requests_form"
      >
        <fieldset formArrayName="requests">
          <button mat-mini-fab (click)="onAddRequestInput()" type="button">
            <mat-icon class="add-course-btn">add</mat-icon>
          </button>
          <div *ngFor="let requestControl of requests.controls; let i = index">
            <div class="lesson-form-row" [formGroupName]="i">
              <mat-form-field appearance="fill">
                <input
                  matInput
                  formControlName="request"
                  placeholder="Add a new request"
                />
              </mat-form-field>
              <mat-icon class="delete-btn" (click)="onDeleteRequestInput(i)">
                delete_forever</mat-icon
              >
            </div>
          </div>
        </fieldset>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!requestsForm.valid || requestsForm.untouched"
          class="employee-requests_btn-submit"
        >
          Add request
        </button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-error-notification
  *ngIf="requestsError"
  [error]="requestsError"
  (onClose)="onErrorMsgClose()"
></app-error-notification>
<ng-template #loading>
  <div class="employees_spinner">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</ng-template>
