<div class="employees">
  <div class="employees_header">
    <menu class="employees_menu menu">
      <h2 class="employees_heading">
        Total Employees: {{ employees.length ? employees.length : "" }}
      </h2>
      <button mat-button [routerLink]="PATH.EMPLOYEES.EDIT">
        <mat-icon>person_add</mat-icon>
      </button>
      <div class="menu_options">
        <button mat-button class="menu_sort" (click)="onSortClick()">
          Sort {{ sortedAlphabetically ? "A" : "Z" }}
          <mat-icon>trending_flat</mat-icon>
          {{ sortedAlphabetically ? "Z" : "A" }}
        </button>
        <div class="menu_view">
          <button mat-button>
            <mat-icon>view_comfy</mat-icon>
          </button>
          <button mat-button>
            <mat-icon>view_headline</mat-icon>
          </button>
        </div>
      </div>
    </menu>
  </div>
  <div class="employees_spinner" *ngIf="isFetching">
    <mat-spinner [diameter]="35"></mat-spinner>
  </div>
  <div class="employees_content">
    <div
      class="employees_item-wrapper"
      *ngFor="let employee of employees | sort: sortedAlphabetically"
    >
      <app-employee-card
        [employee]="employee"
        (onGetId)="onEmployeeClick($event)"
      ></app-employee-card>
    </div>
  </div>
</div>
<app-error-notification
  *ngIf="error"
  [error]="error"
  (onClose)="onErrorMsgClose()"
></app-error-notification>
