<div class="employee">
  <div>
    <section class="employee_content">
      <div class="employee_main">
        <span class="employee_data">{{ employee.date }}</span>
        <div class="employee_photo">
          <span class="material-icons" *ngIf="!employee.imgPath">
            account_circle
          </span>
          <img *ngIf="employee.imgPath" [src]="employee.imgPath" alt="" />
        </div>
      </div>
      <div class="employee_info">
        <h3 class="employee_name">{{ employee.name }}</h3>
        <h4 class="employee_position">{{ employee.position }}</h4>
        <p class="employee_email">{{ employee.email }}</p>
        <p class="employee_phone">{{ employee.phone }}</p>
      </div>
      <div class="employee_additional">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Additional information </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <p>All you need to now about {{ employee.name }}</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Birthday </mat-panel-title>
              <mat-panel-description> Birthday </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Birthday</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Hobbies </mat-panel-title>
              <mat-panel-description> Hobbies </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Hobbies</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Family </mat-panel-title>
              <mat-panel-description> Family </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Family</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </section>
    <div class="employee_actions">
      <button mat-raised-button type="button" (click)="onEditClick()">
        Edit
      </button>
      <button
        mat-raised-button
        type="button"
        [routerLink]="'/' + PATH.EMPLOYEES.ROOT"
      >
        Back to employees
      </button>
      <button mat-raised-button type="button" (click)="onDeleteClick()">
        Delete
      </button>
    </div>
  </div>
</div>
<app-notification
  *ngIf="isDeleting"
  [message]="notification.title"
  [title]="notification.message"
></app-notification>
<app-confirm-deleting
  *ngIf="isConfirming"
  (onCancell)="onOmitDeleting()"
  (onConfirm)="onConfirmDeleting()"
></app-confirm-deleting>
<app-error-notification
  *ngIf="error"
  [error]="error"
  (onClose)="onErrorMsgClose()"
></app-error-notification>
