@import "../../../../mixins.scss";

.confirm {
  @include notification;

  &_content {
    @include notification_content;
    background-color: white;
  }

  &_action {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
