$backdrop-gray: rgb(190, 190, 190);
$backdrop-blue: #f6f8fa;

$error_red_backdrop: #f2dede;
$error_red_font: rgba(199, 14, 14, 0.761);

@mixin spinner {
  display: flex;
  justify-content: center;
}

@mixin account-img-placeholder {
  span {
    font-size: 70px;
    color: $backdrop-gray;
  }
}

@mixin input-view {
  border: 1px solid hsla(210, 18%, 87%, 1);
  border-radius: 6px;
}

@mixin form-view {
  &_form {
    padding: 16px;
    background-color: $backdrop-blue;
    @include input-view;
    margin-bottom: 16px;
  }

  &_form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    & label {
      margin-bottom: 8px;
    }
  }

  &_submit button {
    width: 100%;
  }
}

@mixin auth-notice {
  text-align: center;
  padding: 16px;
  margin-bottom: 16px;
  @include input-view;

  a {
    text-decoration: none;
  }
}

@mixin notification {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b5b5b540;
  backdrop-filter: blur(1px);
}

@mixin notification_content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 250px;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
}

@mixin flex_gap_instead {
  & > * + * {
    margin-left: 15px;
  }
}
